body {
    background: #fff url('../images/page.png') repeat-x;
}
#header {
    height: 90px;
    width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}

#content {
    width: 950px;
    margin: 0 auto;
    padding: 0;
}
#page {
    background-color: #fff;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 5px 15px 15px;
    width: 600px;
}

#header_logo {
    clear: both;
    padding: 0 40px 20px;
}


#current_user {
    float: right;
    margin-right: 50px;
    padding: 3px 12px 6px;
    background-color: #eee;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}

#flashes {
    float: right;
    margin-right: 50px;
    height: 30px;
    width: auto;
    text-align: center;
}
#flash_notice, #flash_error {
    display: block;
    background-color: #f0e5f8;
    color: #582380;
    border: 1px solid #f0e5f8;
    -moz-border-radius: 5px;
    padding: 0 6px 2px;
    margin: 3px 0 10px;
}
#flash_error {
    color: #bd2600;
}


td, th {
    padding: 0 10px;
}
a, a:visited, h1, th {
    color: #582380;
}
a, a:visited {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    background: none;
} 

a.button {
    padding: 0 5px 2px;
    -moz-border-radius: 3px;
}
a.button, a.button:visited {
    color: #582380;
    background-color: #eee;
    border: 1px solid #ccc;
    text-shadow: 0.1em 0.1em 0 #fff;
}
a.button:hover {
    color: #fff;
    background-color: #582380;
    border: 1px solid #000;
    text-shadow: -0.1em -0.1em 0 #000;
    text-decoration: none;
}

a.edit:before {
    content: url('../images/icons/cog.png');
}
a.show:before {
    content: url('../images/icons/magnify.png');
}
a.back:before {
    content: url('../images/icons/arrow_left.png');
}
a.delete:before {
    content: url('../images/icons/delete.png');
}
a.done:before {
    content: url('../images/icons/save.png');
}
a.new:before {
    content: url('../images/icons/new.png');
}
a.delete:before, a.edit:before, a.show:before, a.back:before, a.done:before, a.new:before {
    margin-right: 2px;
    padding-top: 3px;
    vertical-align: sub;
}

a.edit, a.show, a.new {
    color: #1191bb;
}
a.back, a.done {
    color: #76b9cf;
}
a.delete {
    color: #bd2600;
}

h1 {
    font-size: 1.2em;
    margin: 15px 0 5px;
}

table {
    margin-bottom: 10px;
}

#navigation ul {
    border-bottom: 2px solid #ddd;
    height: 20px;
}

#navigation li {
    display: inline-block;
    padding: 0 10px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    background-color: #eee;
    height: 18px;
}

#sidebar {
    float: right;
    width: 284px;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    padding: 15px;
    background-color: #F0E5F8;
}
.actions {
    float:right;
    padding-top: 10px;
}

.geo_map img {
    padding: 5px;
    border: 2px solid #eee;
}
.event_date {
    text-align: right;
    margin: 15px 0;
    color: #582380;
}
.abstract {
    clear: left;
    background-color: #f0e5f8;
    border: 2px solid #915ca4;
    text-align: center;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.field label{
    float:left;
    margin:5px;
    width:100px;
    display:block;
}

.collapsed {
    display: none;
}