<p id="notice"><%= notice %></p>

<p>
  <b>Auth level:</b>
  <%= @team_member.auth_level %>
</p>


<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
