<li><a href="#event" title="Modify event general informations" onclick="javascript:ibento_modify_event_gotogeneral()">General</a></li>
<li><a href="#map" title="Modify event map informations" onclick="javascript:ibento_modify_event_gotomap()">Map</a></li>


